language: shell
os: linux
dist: focal

addons:
  apt:
    packages:
    - ffmpeg
    - python3-setuptools

script:
    - python3 -m pip install --upgrade yt-dlp
    - yt-dlp --verbose --geo-bypass-country ZA http://www.viu.com/ott/za/en/all/video-english-drama-tv_shows-ubettina_wethu_episode_10-1165869150
#    - curl -T ./Capitulo_60.mp4 http://transfer.sh
  
