language: shell
os: linux
dist: focal

addons:
  apt:
    packages:
    - ffmpeg
    - python3-setuptools

script:
    - pip3 install --upgrade youtube-dl
    - youtube-dl --verbose --geo-verification-proxy https://www.viu.com/ott/za/en/all/playlist-ubettina_wethu-playlist-26271168
#    - curl -T ./Capitulo_60.mp4 http://transfer.sh
  
