language: shell
os: linux
dist: focal

addons:
  apt:
    packages:
    - ffmpeg
    - python3-setuptools

script:
#    - pip3 install --upgrade youtube-dl
    - youtube-dl --geo-bypass-country ZA https://www.nbc.com/yo-soy-betty-la-fea/video/capitulo-60/4302410
#    - curl -T ./Capitulo_60.mp4 http://transfer.sh
  
