language: shell
os: linux
dist: focal

addons:
  apt:
    packages:
    - ffmpeg
    - python3-setuptools

script:
#    - pip3 install --upgrade youtube-dl
    - youtube-dl --geo-bypass-country ZA https://www.viu.com/ott/za/en/all/video-english-drama-tv_shows-ubettina_wethu_episode_1-1165863766?containerId=playlist-26271168
#    - curl -T ./Capitulo_60.mp4 http://transfer.sh
  
